@keyframes h5p-essay-input-field-message-save-opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

.h5p-essay {
  font-family: Oxygen, Arial, Helvetica, sans-serif;
}

.h5p-essay textarea{
  font-family: Oxygen, Arial, Helvetica, sans-serif;
}

.h5p-essay .h5p-essay-title {
  width: auto;
  overflow-y: auto;
}

.h5p-essay .h5p-essay-solution-container {
  margin: 0 1em 0.5em 1em;
  padding: 1em;
  background: #FAFAFA;
}

.h5p-essay .h5p-essay-solution-title {
  font-size: 1.125em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

.h5p-essay .h5p-essay-solution-introduction {
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1em;
}

.h5p-essay .h5p-essay-solution-sample {
  background: #FFFFFF;
  border: 1px solid #e0e0e0;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.h5p-essay .h5p-essay-solution-sample-text {
  padding: 0.5em 1em 0.5em 1em;
  margin: 0;
  line-height: 1.4;
}

.h5p-essay .h5p-essay-input-field-textfield {
  padding: 0.25em 0.4em;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #C7C7C7;
  border-top: 2px solid #C7C7C7;
  font-size: 16px;
}

.h5p-essay .h5p-essay-input-field-textfield:focus {
  background-color: #fff;
}

/* Reduce bottom and top margin of children */
.h5p-essay .h5p-essay-input-field-label > * {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.h5p-essay .h5p-essay-input-field-label > p {
  padding: 0px 0px 5px 0px;
  line-height: 1.5;
}

.h5p-essay .h5p-essay-input-field-message-wrapper {
  overflow:auto;
}

.h5p-essay .h5p-essay-input-field-message-char {
  font-size: 0.8em;
  float: left;
}

.h5p-essay .h5p-essay-input-field-message-char-important {
  font-weight: bold;
}

.h5p-essay .h5p-essay-input-field-message-save {
  font-size: 0.8em;
  float: right;
}

.h5p-essay .h5p-essay-input-field-message-save-animation {
  animation-name: h5p-essay-input-field-message-save-opacity;
  animation-duration: 1s;
}

.h5p-essay .h5p-essay-feedback-empty {
  color: #999999;
}

.h5p-essay-timer {
  text-align: right;
  font-size: larger;
}
.h5p-essay-timer.timeup{
  color: red;
}
.h5p-essay-timer:before {
  content: "\f017";
  font-family: 'H5PFontAwesome4';
  margin-right: 5px;
  display: inline-block;
}

.h5p-essay .scoreTable {
  width: 100%;
  border: 1px solid #e0e0e0;
  text-align: center;
}
.h5p-essay .scoreTable td {
  border: 1px solid #e0e0e0;
}

.h5p-question-check-answer[disabled] {
  cursor: default;
  background-color: #8ca4e0!important;
  box-shadow: none!important;
}

.h5p-essay .h5p-essay-solution-error {
  font-size: 1.125em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  color: red;
}
.h5p-essay .h5p-essay-solution-pending {
  font-size: 1.125em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}